doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
        link(rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png")
        title Fylo landing page | Frontend Mentor
    body 
        header: .container
            nav
                img(src='./images/logo.svg' alt='Logo: stack of files.')
                ul
                    li: a(href="") Features
                    li: a(href="") Team
                    li: a(href="") Sign In

            .flex
                div
                    h1 All your files in one secure location, accessible anywhere.
                    p Fylo stores your most important files in one secure location. Access them wherever you need, share and collaborate with friends, family, and co-workers.
                    form
                        input(type="email" placeholder="Enter your email...")
                        button Get Started
                div: img(src="./images/illustration-1.svg", alt="People are taking files from the big folder.")

        section.description: .container: .flex
            div
                h2 Stay productive, wherever you are
                p Never let location be an issue when accessing your files. Fylo has you covered for all of your file storage needs.
                p Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required!
                div.link
                    a(href="") See how Fylo works
                    img(src="./images/icon-arrow.svg", alt="Arrow icon.")
                .testimonial
                    img(src="./images/icon-quotes.svg", alt="Quotes icon.")
                    p Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
                    .user-info
                        div: img(src="./images/avatar-testimonial.jpg", alt="A portrait.")
                        div
                            h4 Kyle Burton
                            small Founder & CEO, Huddle
            div: img(src="./images/illustration-2.svg", alt="People are holding paper sheets.")

        section.second-call: .container: .flex
            div
                h3 Get early access today
                p It only takes a minute to sign up and our free starter tier is extremely generous. If you have any questions, our support team would be happy to help you.
            div: form
                input(type="email" placeholder="email@example.com")
                button Get Started For Free

        section.attribution: .container
            img(src='./images/logo-white.svg' alt='Logo: stack of files.')
            .flex
                div: ul
                    li #[img(src="./images/icon-phone.svg", alt="Phone icon.")] Phone: +1-543-123-4567
                    li #[img(src="./images/icon-email.svg", alt="Email icon.")] example@fylo.com
                div: ul
                    li: a(href="") About Us
                    li: a(href="") Jobs
                    li: a(href="") Press
                    li: a(href="") Blog
                div: ul
                    li: a(href="") Contact Us
                    li: a(href="") Terms
                    li: a(href="") Privacy
                div: ul
                    li: a(href="").circle: i.fab.fa-facebook-f
                    li: a(href="").circle: i.fab.fa-twitter
                    li: a(href="").circle: i.fab.fa-instagram


        footer: .container
                ul
                    li Challenge by #[a(href="https://www.frontendmentor.io?ref=challenge" target="_blank") Frontend Mentor]
                    li Coded by #[a(href="https://github.com/ivan-f-sokolov/fylo-landing-page") Ivan F. Sokolov]
